* {
    /* 初始化 */
    margin: 0;
    padding: 0;
}

body {
    /* 100%窗口宽度和高度 */
    width: 100vw;
    height: 100vh;
    /* 溢出隐藏 */
    overflow: hidden;
    /* 设置背景 */
    background: url("../img/4.png") no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
    /* 弹性布局 水平排列 */
    display: flex;
}

/* 字体图标 */
.icon {
    color: rgb(164, 248, 164);
    font-size: 24px;
}

/* 左侧导航栏 */
.left-box {
    width: 230px;
    /* 半透明背景 */
    background-color: rgba(0, 0, 0, 0.65);
    /* 相对定位 */
    position: relative;
    color: rgb(255, 189, 189);
    font-size: 14px;
    /* 弹性布局 垂直排列 */
    display: flex;
    flex-direction: column;
    /* 设置过渡 */
    transition: 0.5s ease;
    /* 不让文字换行 */
    white-space: nowrap;
    margin: 5px;
    border-radius: 10px;



}

.left-box ul {
    list-style: none;
    width: 90%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    /* 高度铺满 */
    flex: 1;
}

.left-box li {
    height: 46px;
    /* 弹性布局 垂直居中 */
    display: flex;
    align-items: center;
    padding-left: 12px;
    border-radius: 10px;
    cursor: pointer;
    /* 过渡 */
    transition: 0.3s;
}

/* 选中态样式 */
.left-box li.active,
.left-box li.active:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.left-box li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.left-box hr {
    width: 90%;
    margin: 10px auto;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.left-box .icon {
    margin-right: 20px;
}

.left-box p {
    margin-left: 26px;
    margin-bottom: 10px;
}

/* 用户信息区域 */
.user-info {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    padding: 24px;
}

.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    border: 2px solid #ffffff;
}

.user-info span {
    margin-left: 7px;
    flex: 1;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 400;
}

.user-info .icon {
    font-size: 20px;
    margin-right: 0;
}

/* 右侧区域 */
.right-box {
    margin: 5px;
    margin-left: 0px;
    /* 半透明背景 */
    background-color: rgba(0, 0, 0, 0.65);

    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
}


/* 展开收起开关 */
.right-box .handler {
    width: 10px;
    height: 50px;
    margin-left: 3px;
    /* 绝对定位 垂直居中 */
    transform: translateY(-50%);
    z-index: 1;
    /* 光标变小手 */
    cursor: pointer;
    /* 默认不透明度为0 */
    opacity: 0;
    /* 过渡 */
    transition: opacity 0.3s;

}

.right-box .handler::before,
.right-box .handler::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
    /* 过渡 */
    transition: 0.2s;
}

.right-box .handler::after {
    bottom: 0;
    border-radius: 0 0 10px 10px;
}

.right-box:hover .handler {
    opacity: 1;
}

.right-box .handler:hover::before {
    transform: skewX(-15deg);
}

.right-box .handler:hover::after {
    transform: skewX(15deg);
}

.right-box .handler.close:hover::before {
    transform: skewX(15deg);
}

.right-box .handler.close:hover::after {
    transform: skewX(-15deg);
}

ul {
    list-style: none;
}

.li {
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: 600;
    /* 动画过渡 */
    transition: 0.3s;
}


.li ul {
    padding: 0;
    width: 0;
    height: 100vh;
    /* 半透明背景 */
    background-color: rgba(0, 0, 0, 0.65);
    /* 背景模糊（毛玻璃） */
    backdrop-filter: blur(10px);

    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: 0.3s;

}

.li ul li {
    justify-content: center;
    padding: 0;
    /* 文字禁止换行 */
    white-space: nowrap;
    transition: 0.3s;
}

.li:hover ul {
    padding-top: 140px;
    width: 230px;
}

.li ul li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.handler {}

.main-body {
    flex: 1;
    color: rgb(255, 189, 189);
    height: 100%;
    margin: 0;

}

.tab {
    height: 100%;
}

.mian-div {


    height: 98%;
    width: 99.5%;
    margin: 0.5% auto;
    display: flex;
}

.main2 {
    flex-direction: column;
}

.main2_header {
    flex: 2;
    display: flex;
}

.main2_hearder_left {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.main2_header_right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main2_header_tag {
    flex: 4;
    border: 2px solid rgb(164, 248, 164);
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    padding: 10px;
}

.main2_header_tag p {
    text-align: center;
}

.main2_header_tag hr {
    margin-top: 2px;
    margin-bottom: 10px;
}

/* tag */
.el-tag+.el-tag {
    margin-left: 10px;

}

.el-tag {
    margin-bottom: 5px;
    background-color: transparent;
}

.button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: center;
    background-color: transparent;
    color: #F5C0BE;
}

.input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: center;
}



.main2_header_right_body {
    width: 100%;
    flex: 1;
    margin-top: 10px;
}

.main2_header_right_bottom {
    margin-top: 20px;
    flex: 1.5;
    display: flex;
    justify-content: space-evenly;
}


.main2_body {
    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.el-table,
.el-table__expanded-cell {
    background-color: transparent;
}

.el-table th,
.el-table tr {
    background-color: transparent;
}

.el-table tbody tr:hover>td {
    background-color: transparent !important
}

.main2_table {
    color: rgb(164, 248, 164);
    border: 2px solid rgb(164, 248, 164);
    border-radius: 20px;
    width: 96%;
    margin-top: 20px;
}

.el-table th.el-table__cell {
    background-color: transparent !important;
    color: #F5C0BE;
}


::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
    background: #9bf697;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 10px;
    background: #1f289b44;
}

.el-textarea__inner,
.el-input__inner {
    background: transparent !important;
}

.el-dialog {
    background-color: rgba(22, 22, 23, 0.65);
    border-radius: 30px;
    width: 500px;
    color: #9bf697;
    border-color: #409EFF;
    border: 2px solid rgb(164, 248, 164) !important;
    margin-top: 15vh !important;
}

#main2_form .el-color-picker__icon,
#main2_form .el-input,
#main2_form .el-textarea {
    width: 300px;
}

#main2_form2 .el-color-picker__icon,
#main2_form2 .el-input,
#main2_form2 .el-textarea {
    width: 300px;
}

.el-dialog__title {
    line-height: 24px;
    font-size: 20px;
    color: #9bf697;
}

.el-dialog__headerbtn .el-dialog__close {
    color: #F5C0BE;
}

.el-button--primary {
    /* color: #FFF; */
    /* background-color: #409EFF; */
    border-color: #409EFF;
    background-color: transparent;
    color: #F5C0BE;
}

.el-form-item__label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 15px;
    color: rgb(255, 189, 189);


}

.el-input__inner {
    color: #9bf697;
    font-size: 17px;
}

.el-dialog--center .el-dialog__body {
    padding: 20px 25px 10px;
}

.el-dialog__headerbtn .el-dialog__close {
    color: #9bf697;
}

[class*=" el-icon-"],
[class^=el-icon-] {
    font-weight: 1000;
}

.el-select-dropdown {
    position: absolute;
    z-index: 1001;
    border: 1px solid #9bf697;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0;
    color: #9bf697;
}


.el-select-dropdown__item:hover,
.el-select-dropdown__item.hover {
    color: #9bf697;
    background-color: rgba(2, 23, 253, 0.35);
}

.el-input .el-input__count .el-input__count-inner {
    background: transparent !important;
    line-height: initial;
    display: inline-block;
    padding: 0 5px;
}

.el-select-dropdown__item:hover,
.el-select-dropdown__item.hover {
    color: #9bf697;
    background-color: transparent !important;
}

.el-input__inner {
    color: #9bf697;
    font-size: 12px;
}